body {
}

.exchange-table {
    border-collapse: collapse;
    width: 500px;
    border: 3px solid black;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 30px;
}
.Loading {
    display: flex;
    justify-content: center;
    align-content: center;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

thead {
    border: 3px solid black;
}

    thead td {
        border: 3px solid black;
    }


